@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,100&display=swap');
body{
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
}
form{
    position: absolute;
    top: 50px;
    left: 500px;
    background-color: rgba(5, 5, 5, 0.096);
    border-radius: 10px;
    padding: 30px;

}

div{
    padding: 8px 0;
}

button{
    background-color: rgb(255, 175, 28);
    width: 120px;
    border-radius: 5px;
}