@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand:wght@300&family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #BF8136;
    margin-top: 60px;
    
}
form{
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.192);
    width: 800px ;
    margin: auto;
    border-radius: 8px;

}
    

textarea{
    display: block;
}


div{
    padding: 12px 0px;
}

img{
    position: relative;
    top: 20px;
}



fieldset{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}


button{
    background-color: #F2A2C0;
    color: #3d1616;
    font-size: 16px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border-style: hidden;
    margin: 15px;
}

.titulo{
    font-family: 'Comfortaa', cursive;
    position: relative;
    left: 90px;
    bottom: 30px;
    color: #532a1b;
    padding: 10px 5px 10px 20px;
    border-radius: 8px;
}

.corpoformulario{
    position: relative;
    width: 500px;
    left: 150px;
    top: 20px;
    
   
}

.botao{
    background: #3f2015;
    color: #F2B6CC;
    position: relative;
    width: 200px;
    left: 550px;
}

#add{
    margin: 10px;
}

#coments{
    padding: 5px;
    margin: 10px;
}



