@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@500&family=Rajdhani:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    
    background: cornsilk;
    width: 960px;
    
}


header{
    
    position: absolute;
    left: 220px;
    
}

header img{
    position: relative;
    top: 80px;
    width: 960px;
    left: 10px;
    
}

.menu{
    z-index: 2;
    position: fixed;
    background: chocolate;
    color: cornsilk;
    width: 960px;
    height: 45px;
    padding-left: 18px;
    border-radius: 18px;
}

.menu ul, .menu li{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.menu li{
    float: left;
    position: relative;
    display: inline;
}
.menu ul{
    width: 100%;
}

.menu a{
    display: block;
    line-height: 40px;
    padding: 0 100px;
    text-decoration: none;
    color: cornsilk;
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
}

h1{
    position: relative;
    top: 420px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    
} 
.texto1 {
    font-family:'Rajdhani', sans-serif;
    color:black;
    position: relative;
    top: 450px;
    width: 960px;
    left: 245px;
    line-height: 19px;
}

.texto2 {
    font-family:'Rajdhani', sans-serif;
    color:black;
    position: relative;
    top: 600px;
    width: 960px;
    left: 245px;
    line-height: 19px;
}

.imagens{
    position: relative;
    top: 500px;
    left: 280px;
    
}

button{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: 30px;
    right: 150px;
    background:linear-gradient(#ffc477, #fb9e25);
    border-width:1px;
    border-color:#eeb44f;
    height: 25px;
    width: 60px;
    border-radius: 5px ;
    color: rgb(10, 10, 9);
}

.icone{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
}

footer{
    position: relative;
    background-color: chocolate;
    top: 800px;
    width: 960px;
    height: 50px;
    border-radius: 18px;
    left: 210px;
  
}

footer img{
    position: absolute;
    left: 480px;

}
   
/*font-family: 'Indie Flower', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rajdhani', sans-serif;*/

