@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@500&family=Roboto+Mono:wght@500&display=swap');

body{
    background-color: black;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

p{
    font-family: 'Roboto Mono', monospace;
    color: rgb(117, 116, 116);
    font-size: 10px;
}

figcaption{
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    
}